    .ui-dataview-list .ui-dataview-row {
        border-bottom: 1px solid #A8A8A8;
        padding: 25px 10px;
    }
 
    .logo {
        width: 5%;
    }
    .detail {
        width: 85%;
        padding-left: 25px;
    }